.icon-48-testimonials {
      background-image: url(../images/l_testimonials.png);
      padding-left:60px!important;
}

.icon-48-testimonial {
      background-image: url(../images/l_testimonials.png);
      padding-left:60px!important;
}

